:root {
  --primary-text-color: #084755;
  --brand-color: #852170;
  --secondary-colour: #107a92;
  --tertiary-color: #b776b9;
  --grey-color: #bdbbbb;
  --white-color: #f8f8f8;

  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
