:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --primary-accent-color: rgb(52, 219, 6);
  // --secondary-accent-color: #ffffff;
  // --primary-bg-color: #ffffff;
  // --bg-accent-color: #2f303a;
  // --pf-btn-color: #f5f4fa;

  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
