:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-bg-color: #ffffff;
  --bg-accent-color: #2f303a;
  --pf-btn-color: #f5f4fa;
  --features-icon-box-color: #f5f4fa;
  --primary-social-icon-fill: #afb1b8;
  --secondary-social-icon-fill: #ffffff;
  --clients-icon-fill: #afb1b8;
  --clients-icon-fill-hf: #2196f3;
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
